.last_update
*.code-workspace
*.dev.*

toolchain-mod/*

!toolchain-mod/toolchain
!toolchain-mod/.vscode
!toolchain-mod/.settings
!toolchain-mod/.idea

!toolchain-mod/.classpath
!toolchain-mod/.project
!toolchain-mod/make.json
toolchain-mod/make.json
toolchain-mod/toolchain/declarations/core-engine.d.ts
